<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Farm</title>
  </head>

  <body>
    <h1>Add A Farm</h1>
    <form action="/farms" method="POST">
      <div>
        <label for="name">Farm Name: </label>
        <input type="text" name="name" id="name" placeholder="product name" />
      </div>
      <div>
        <label for="city">City: </label>
        <input type="text" id="city" name="city" placeholder="farm city" />
      </div>
      <div>
        <label for="email">E-Mail: </label>
        <input type="email" id="email" name="email" placeholder="farm e-mail" />
      </div>
      <button>Submit</button>
    </form>
  </body>
</html>
