<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Product</title>
  </head>

  <body>
    <h1><%= farm.name %></h1>
    <h2>Create a product</h2>
    <form action="/farms/<%=farm.id%>/products" method="POST">
      <label for="name">Product Name</label>
      <input type="text" name="name" placeholder="product name" id="name" />
      <label for="price">Price (Unit)</label>
      <input
        type="number"
        name="price"
        placeholder="product price"
        id="price"
      />
      <label for="category">Select Category</label>
      <select name="category" id="category">
        <option value="fruit">Fruit</option>
        <option value="vegetable">Vegetable</option>
        <option value="dairy">Dairy</option>
      </select>
      <button>Submit</button>
    </form>
    <a href="/farms/<%= farm._id %>">Back to Farm</a>
  </body>
</html>
